/* 
fondo texturizado color principal: #104765
fondo texturizado color secundario: #000000

bg color 1: #104765
bg color 2: #333333
 */

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: wheat;
  background-color: #003d5c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  text-shadow: black 0.1em 0.1em 0.2em;
}

nav {
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

h1 {
  font-size: 32px;
  text-align: center;
  padding-top: 3em;
  margin: 0;
}

.navbar {
  text-decoration: none;
  padding: 1em 0.5em;
  outline: none;
  color: wheat;
}

/* .navbar:link {
  color: #6900ff;
} */

.navbar:visited {
  color: wheat;
}

/* .navbar:focus {
  text-decoration: none;
  background: #bae498;
} */

.navbar:hover {
  text-decoration: none;
  background: white;
  color: black;
  text-shadow: wheat 0.1em 0.1em 0.2em;
}

/* .navbar:active {
  background: #6900ff;
  color: #cdfeaa;
}
 */
main {
  width: 65%;
  min-width: 350px;
  margin: 0 auto;
  background-color: #104765;
}
.github-icon,
.linkedin-icon {
  display: inline-block;
  text-decoration: none;
}
.github-icon img,
.linkedin-icon img {
  width: 40px;
  height: 40px;
}

footer {
  background-color: #333333;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  padding: 1em 4em 1em 1em;
}

.techbar img {
  width: 50px;
  height: auto;
  padding: 0.6em;
  /*   margin-bottom: 10px;
  box-shadow: black 0.1em 0.1em 0.2em;; */
}
.techbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333333;
  height: 100%;
}

.img-project {
  width: 100%;
  height: auto;
}

.project {
  padding: 3.6em 3em 1em 3em;
  gap: 2em;
}

.project-img-icon {
  position: relative;
}

.link-project-img {
  border: 5px solid #333333;
}
/* .project-img-icon {
  display: flex;
  flex-direction: row;
  gap: 1em;
} */

.project-description {
  position: absolute;
  bottom: 0;
  padding: 0.4em;
  width: 90%;
  background-color: #333333;
}

.project-description p,
.project-description h2 {
  margin: 0 0 0 52px;
}

.project-repo {
  display: inline;
  text-decoration: none;
  grid-column: 1;
  grid-template-rows: 2;
  position: absolute;
  left: 10px;
  bottom: 10px;
  
}
.github-repo-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.github-repo{
    display: absolute;
    top: 0;
}
